html {
  font-size: 62.5%;
}

@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/source-sans-pro-n4.woff2') format('woff2'),
    url('../fonts/source-sans-pro-n4.woff') format('woff');
}

@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/source-sans-pro-n6.woff2') format('woff2'),
    url('../fonts/source-sans-pro-n6.woff') format('woff');
}

:root {
  --Main-Colours-Blue-Clear: #eefaff;
  --Main-Colours-Blue-Lightest: #bfe7f8;
  --Main-Colours-Blue-Lighter: #66bce2;
  --Main-Colours-Blue-Light: #1a91c6;
  --Main-Colours-Blue-Colour-1: #035384;
  --Main-Colours-Blue-Dark: #003556;
  --Main-Colours-Blue-Darker: #052940;
  --Main-Colours-Blue-Darkest: #041926;
  --Greys-Lightest: #fafafa;
  --Greys-Lighter: #ececec;
  --Greys-Light: #c2c2c2;
  --Greys-Neutral: #767676;
  --Greys-Dark: #636161;
  --Greys-Darker: #474747;
  --Greys-White: #ffffff;
  --Greys-Black: #000000;
  --Typeface-family-Body:
    source-sans-pro, calibri, segoe, segoe ui, optima, arial, sans-serif;
  --Typeface-size-Body: 1.6rem;
  --Typeface-line-height-Body: 2.4rem;
  --Typeface-size-H6: 1.9rem;
}

body {
  background-color: var(--Main-Colours-Blue-Lightest);
  color: var(--Greys-Dark);
  font-family: var(--Typeface-family-Body);
  line-height: var(--Typeface-line-height-Body);
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: var(--Typeface-size-Body);
  min-width: 56.2rem;
}

h2 {
  font-size: var(--Typeface-size-H6);
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: var(--Greys-Black);
  font-weight: 700;
  font-style: normal;
  line-height: 2.4rem;
}

main {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: stretch;
  align-items: stretch;
}

.frame {
  background-color: var(--Greys-White);
  padding: 1.8rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
}

.form-options-content {
  padding-left: 0 !important;
}

/* Label */
label {
  display: inline-block;
  max-width: 600px;
  cursor: pointer;
  margin: 0;
  color: var(--Greys-Dark);
}

.form-group-label label {
  color: var(--Greys-Black);
  font-weight: 600;
}

/* Group */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-self: stretch;
  align-items: stretch;
}

.frame .form-group {
  min-height: 6.6rem;
}

.bottom {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  align-self: stretch;
}

.bottom .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  justify-content: center;
}

.bottom-right {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

/* Select - DS : Ne pas éditer ci-dessous */
select {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none"><path d="M11 1.5L6.01401 7.5" stroke="%23035384" stroke-width="2" stroke-linecap="round"/><path d="M5.98633 7.5L1.00034 1.5" stroke="%23035384" stroke-width="2" stroke-linecap="round"/></svg>')
    98% center no-repeat var(--Greys-White);
  box-sizing: border-box;
  height: 3.5rem;
  padding: 0 1.2rem;
  border: 1px solid var(--Main-Colours-Blue-Light);
  color: var(--Main-Colours-Blue-Colour-1);
  font-weight: 600;
  line-height: var(--Typeface-line-height-Body);
  width: 100%;
}

select:hover,
select:focus {
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
  border: 1px solid var(--Main-Colours-Blue-Colour-1);
}

/* Input */
input {
  display: flex;
  height: 4.3rem;
  padding: 0 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  background: var(--Greys-White);
  border: 1px solid var(--Main-Colours-Blue-Light);
}

.form-group--suffix {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.form-group--suffix .btn.form-field--suffix {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 1.2rem;
  right: 1.2rem;
  padding: 0;
  margin: 0;
}

.form-group--suffix .btn.form-field--suffix svg {
  width: 1.6rem;
  height: 1.6rem;
}

.form-group--suffix .btn.form-field--suffix svg path {
  fill: var(--Main-Colours-Blue-Light);
}

.form-group--suffix input {
  padding: 0 3.6rem 0 1.2rem;
}

input:not([disabled]):hover,
input:not([disabled]):focus {
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
  border: 1px solid var(--Main-Colours-Blue-Colour-1);
}

input[disabled],
input[disabled]:hover,
input[disabled]:focus {
  border: 1px solid var(--Greys-Neutral);
  background-color: var(--Greys-Lightest);
  cursor: no-drop;
}

.form-group--suffix input[disabled] + .btn.form-field--suffix svg path {
  fill: var(--Greys-Black);
}

.form-group--error input:not([disabled]),
.form-group--error input:not([disabled]):hover,
.form-group--error input:not([disabled]):focus {
  border-color: #b22d36;
}

/* Message */
.msg > p {
  margin: 0;
}

.msg.msg--success > p {
  color: #0b3700;
}

.msg.msg--error > p {
  color: #460000;
}

/* Switch */
.form-options--switch {
  display: block;
}

.form-options--switch .form-options-label {
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-options--switch input[role='switch'] ~ .state {
  vertical-align: middle;
}

.form-options--switch input[role='switch'] ~ .state > .container {
  display: flex;
  align-items: center;
  background: var(--Greys-White);
  border: 1px solid var(--Main-Colours-Blue-Light);
  border-radius: 2rem;
  cursor: pointer;
  height: 1.4rem;
  width: 2.5rem;
  padding: 0.3rem;
}

.form-options--switch input[role='switch'] ~ .state > .container:hover {
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
}

.form-options--switch input[role='switch'] ~ .state > .container > .position {
  background: var(--Greys-White);
  border: 1px solid var(--Main-Colours-Blue-Light);
  transition: background 0.2s ease-in-out;
  border-radius: 1rem;
  box-sizing: border-box;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
}

.form-options--switch input[role='switch']:focus-visible ~ .state > .container {
  outline: var(--Greys-Black) solid 2px;
  outline-offset: 2px;
}

.form-options--switch input[role='switch']:checked ~ .state > .container {
  justify-content: flex-end;
}

.form-options--switch
  input[role='switch']:checked
  ~ .state
  > .container
  > .position {
  background: var(--Main-Colours-Blue-Colour-1);
  border-color: var(--Main-Colours-Blue-Light);
}

.form-options--switch .form-options-description {
  color: var(--Greys-Darker);
}

/* Button */
.btn {
  background: var(--Main-Colours-Blue-Colour-1);
  box-sizing: border-box;
  border: 1px solid var(--Main-Colours-Blue-Colour-1);
  color: var(--Greys-White);
  cursor: pointer;
  display: inline-block;
  line-height: 2.4rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.btn.btn-secondary {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  padding: 8px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--Main-Colours-Blue-Colour-1);
  background: var(--Greys-Lightest);
  box-shadow: 0 5px 6px 0 rgb(0, 0, 0, 0.16);
  color: var(--Main-Colours-Blue-Colour-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border: 1px solid var(--Greys-White);
  background: var(--Main-Colours-Blue-Colour-1);
  color: var(--Greys-White);
}

.btn.btn-borderless {
  background: transparent;
  border-color: transparent;
  color: var(--Main-Colours-Blue-Colour-1);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.btn.btn-borderless:hover {
  color: var(--Main-Colours-Blue-Dark);
}

/* Hide */
.at {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
