html {
  font-size: 62.5%;
}

#checkA11YPanel {
  display: none;
  font-family:
    Calibri,
    Candara,
    Segoe,
    Segoe UI,
    Optima,
    Arial,
    sans-serif;
  letter-spacing: normal !important;
}

#checkA11YPanel.active {
  position: fixed !important;
  top: 0 !important;
  height: 100% !important;
  z-index: 70000 !important;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  direction: ltr !important;
  border-style: none !important;
  margin: 0 !important;
  border-right: 3px solid #035384 !important;
  background-color: #ffffff !important;
  margin-left: -360px !important;
}

#checkA11YPanel.active > div {
  width: 345px;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  right: auto;
}

body.check-panel-active {
  position: relative;
  margin-left: 360px !important;
}

body.check-panel-active [role='dialog'] {
  margin-left: 360px !important;
}

#checkA11YPanelBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70001;
  border: none;
  background-color: #035384;
  padding: 10px 15px;
  margin: 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  height: 3.6rem;
  border-radius: 0 3px 5px;
  font-family:
    Calibri,
    Candara,
    Segoe,
    Segoe UI,
    Optima,
    Arial,
    sans-serif;
  box-shadow: none;
  outline: none;
  text-transform: capitalize;
}

#checkA11YPanelBtn:focus,
#checkA11YPanelBtn:hover {
  background-color: #fff;
  color: #035384;
  outline: 1px solid #035384;
  outline-offset: -1px;
}

#checkA11YPanelBtn:focus {
  background-color: #fff;
  color: #035384;
  outline: 3px solid #035384;
  outline-offset: -3px;
}

#checkA11YPanelBtn::before,
#checkA11YPanelBtn::after {
  content: none;
}

#checkA11YPanel.active .panel-header {
  margin-bottom: 10px;
}

#checkA11YPanel.active .panel-header h1 {
  font-size: 2.4rem !important;
  line-height: 3.6rem !important;
  text-align: right !important;
  margin: 0 1.5rem 0 0 !important;
  padding: 0 !important;
  background-color: #ffffff !important;
  text-transform: capitalize !important;
  position: relative !important;
  display: block !important;
  color: #035384 !important;
  font-weight: bold !important;
  font-family:
    Calibri,
    Candara,
    Segoe,
    Segoe UI,
    Optima,
    Arial,
    sans-serif !important;
  letter-spacing: 0 !important;
  box-shadow: none !important;
}

#checkA11YPanel.active .panel-header h1::before,
#checkA11YPanel.active .panel-header h1::after {
  content: none !important;
}

#checkA11YPanel.active .panel-body {
  overflow-y: auto !important;
  height: calc(100% - 2.4rem) !important;
  color: #000000;
  background-color: #ffffff !important;
  padding-bottom: 50px !important;
}

#checkA11YPanel.active .panel-body h2 {
  font-size: 1.8rem !important;
  line-height: 2.4rem !important;
  margin: 0 !important;
  padding: 0 !important;
  text-transform: capitalize !important;
  position: relative !important;
  display: block !important;
  color: #035384 !important;
  font-weight: bold !important;
  font-family:
    Calibri,
    Candara,
    Segoe,
    Segoe UI,
    Optima,
    Arial,
    sans-serif !important;
  letter-spacing: 0 !important;
  border: none !important;
  background-color: #ffffff !important;
}

#checkA11YPanel.active .panel-body h2::before,
#checkA11YPanel.active .panel-body h2::after {
  content: none !important;
}

#checkA11YPanel.active .panel-body ul {
  margin: 0.5rem 0 1rem !important;
  line-height: 1.7 !important;
  list-style-type: disc !important;
  padding-left: 0 !important;
  background-color: #ffffff !important;
}

#checkA11YPanel.active .panel-body ul > li {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  line-height: normal !important;
  list-style-type: none !important;
  padding-left: 1.8rem !important;
  padding-bottom: 0 !important;
  position: relative !important;
  color: #000000 !important;
  margin: 0.5rem 0 0 !important;
  background-color: #ffffff !important;
}

#checkA11YPanel.active .panel-body ul > li::marker {
  content: none !important;
}

#checkA11YPanel.active .panel-body ul > li::before {
  border: solid #035384 !important;
  border-width: 0.2rem 0.2rem 0 0 !important;
  margin: 0 !important;
  content: '' !important;
  height: 0.5rem !important;
  left: 0.2rem !important;
  position: absolute !important;
  top: 0.4rem !important;
  transform: rotate(45deg) !important;
  width: 0.5rem !important;
  background: none !important;
  mask: none !important;
}

#checkA11YPanel.active .panel-body ul > li::after {
  content: none !important;
}

#checkA11YPanel.active .panel-body ul > li a,
#checkA11YPanel.active .panel-body ul > li a:active,
#checkA11YPanel.active .panel-body ul > li a:visited,
#checkA11YPanel.active .panel-body .cmp-accordion__panel a,
#checkA11YPanel.active .panel-body .cmp-accordion__panel a:active,
#checkA11YPanel.active .panel-body .cmp-accordion__panel a:visited {
  color: #0a5874 !important;
  text-decoration: underline !important;
  background-color: #ffffff !important;
}

#checkA11YPanel.active .panel-body ul > li a:hover,
#checkA11YPanel.active .panel-body ul > li a:focus,
#checkA11YPanel.active .panel-body .cmp-accordion__panel a:hover,
#checkA11YPanel.active .panel-body .cmp-accordion__panel a:focus {
  color: #157a95 !important;
  text-decoration: none !important;
}

#checkA11YPanel.active .panel-body ul > li a:focus,
#checkA11YPanel.active .panel-body .cmp-accordion__panel a:focus {
  outline: 1px dotted #035384 !important;
}

#checkA11YPanel.active .panel-body ul > li a::before,
#checkA11YPanel.active .panel-body ul > li a::after {
  content: none !important;
}

#checkA11YPanel.active .panel-body ul > li .result-focus {
  color: #ffffff;
  background-color: #035384;
  box-shadow: 0 3px 7px rgb(0 0 0 / 30%) !important;
  font-family:
    Monaco,
    Menlo,
    Consolas,
    Courier New,
    monospace !important;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  line-height: 1.6rem !important;
  text-decoration: none !important;
  border-radius: 3px !important;
  border: none !important;
  padding: 1px !important;
}

#checkA11YPanel.active .panel-body ul > li a.result-focus:hover,
#checkA11YPanel.active .panel-body ul > li a.result-focus:focus,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-gray:hover,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-gray:focus,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-yellow:hover,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-yellow:focus,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-orange:hover,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-orange:focus,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-red:hover,
#checkA11YPanel.active .panel-body ul > li a.result-focus.label-red:focus {
  color: #157a95 !important;
  background-color: #f5f5f5 !important;
  text-decoration: none !important;
}

#checkA11YPanel.active .panel-body ul > li .result-focus.label-gray {
  color: #000000 !important;
  background-color: #fefefe !important;
}

#checkA11YPanel.active .panel-body ul > li .result-focus.label-yellow {
  color: #000000 !important;
  background-color: #ffff00 !important;
}

#checkA11YPanel.active .panel-body ul > li .result-focus.label-orange {
  color: #000000 !important;
  background-color: #ffa500 !important;
}

#checkA11YPanel.active .panel-body ul > li .result-focus.label-red {
  color: #ffffff !important;
  background-color: #ea0202 !important;
}

#checkA11YPanel.active .cmp-accordion {
  margin: 0 !important;
  background-color: #ffffff !important;
}

#checkA11YPanel.active .cmp-accordion .cmp-accordion__summary {
  padding: 1rem !important;
  margin: 0 !important;
  display: block !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

#checkA11YPanel.active .cmp-accordion .cmp-accordion__summary::before,
#checkA11YPanel.active .cmp-accordion .cmp-accordion__summary::after {
  content: none !important;
}

#checkA11YPanel.active
  .cmp-accordion
  .cmp-accordion__summary
  .cmp-accordion__header
  svg {
  background-color: #ffffff !important;
  float: right;
}

#checkA11YPanel.active .cmp-accordion .cmp-accordion__summary:hover,
#checkA11YPanel.active
  .cmp-accordion
  .cmp-accordion__summary:hover:not(:focus)
  h2,
#checkA11YPanel.active
  .cmp-accordion
  .cmp-accordion__summary:hover:not(:focus)
  .cmp-accordion__header
  svg {
  background: #f5f5f5 !important;
  animation: none !important;
  transition: none !important;
}

#checkA11YPanel.active .cmp-accordion .cmp-accordion__summary:focus {
  outline: 1px dotted #035384 !important;
  background: #fff !important;
  background-color: #fff !important;
}

#checkA11YPanel.active .cmp-accordion .cmp-accordion__panel {
  background-color: #fff !important;
  display: block !important;
  padding: 1.5rem 2rem !important;
}

#checkA11YPanel.active .cmp-accordion .cmp-accordion__panel a::before,
#checkA11YPanel.active .cmp-accordion .cmp-accordion__panel a::after {
  content: none !important;
}

.checkA11YSpan {
  display: inline-block !important;
  font-family:
    Monaco,
    Menlo,
    Consolas,
    Courier New,
    monospace !important;
  font-size: 1.3rem !important;
  line-height: 1.6rem !important;
  border-radius: 3px !important;
  box-shadow: 0 3px 7px rgb(0 0 0 / 30%) !important;
  margin: 1px !important;
  margin-right: 7px !important;
  padding: 1px !important;
  border: none !important;
  clear: none !important;
  float: none !important;
  opacity: 1 !important;
  z-index: 70000 !important;
  position: static !important;
  text-align: left !important;
  text-decoration: none !important;
  text-shadow: none !important;
  text-transform: none !important;
  min-height: 17px !important;
  min-width: 30px !important;
  clip: auto !important;
  font-style: normal !important;
}

.checkA11YSpan__gray {
  background-color: #fefefe !important;
  color: #ffffff !important;
}

.checkA11YSpan__green {
  background-color: #008000 !important;
  color: #ffffff !important;
}

.checkA11YSpan__blue {
  background-color: #0000ff !important;
  color: #ffffff !important;
}

.checkA11YSpan__yellow {
  background-color: #ffff00 !important;
  color: #000000 !important;
}

.checkA11YSpan__orange {
  background-color: #ffa500 !important;
  color: #000000 !important;
}

.checkA11YSpan__red {
  background-color: #ea0202 !important;
  color: #ffffff !important;
}

.checkA11YOutline__green {
  outline: #008000 solid 3px !important;
  outline-offset: 1px;
}

.checkA11YOutline__blue {
  outline: #0000ff solid 3px !important;
  outline-offset: 1px;
}

.checkA11YOutline__yellow {
  outline: #ffff00 solid 3px !important;
  outline-offset: 1px;
}

.checkA11YOutline__orange {
  outline: #ffa500 solid 3px !important;
  outline-offset: 1px;
}

.checkA11YOutline__red {
  outline: #ea0202 solid 3px !important;
  outline-offset: 1px;
}

.checkA11YOutline__orange_parent {
  outline: #ffa500 dotted 3px !important;
  outline-offset: -2px;
}

.checkA11YOutline__red_parent {
  outline: #ea0202 dotted 3px !important;
  outline-offset: -2px;
}

.checkA11YSpan-desc {
  background-color: #ffffff !important;
  color: #000000 !important;
  display: block !important;
  padding: 2px 5px !important;
  margin: 2px !important;
  font-style: normal !important;
}

#checkA11YBottomLine {
  width: calc(100% - 20px);
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 5px 10px;
  margin: 0 !important;
  color: #035384;
  font-size: 1.6rem;
  font-weight: 400;
  border-top: 3px solid #035384;
  z-index: 70000;
  line-height: normal;
  max-height: 400px;
  overflow-y: auto;
  right: 0;
  left: 0;
}

#checkA11YBottomLine ul li {
  margin: 0 !important;
  color: #035384;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
}

#checkA11YBottomLine ul li::before,
#checkA11YBottomLine ul li::after {
  content: none;
}

#checkA11YBottomLine #checkA11YHeadBtn {
  background-color: revert;
  border: revert;
  border-radius: revert;
  box-sizing: border-box;
  color: revert;
  cursor: pointer;
  display: revert;
  font-size: unset;
  font-weight: unset;
  hyphens: none;
  line-height: normal;
  padding: revert;
  text-align: unset;
  text-decoration: none;
  width: auto;
  position: absolute;
  right: 10px;
  top: 2px;
  text-transform: none;
}

#checkA11YBottomLine #checkA11YHeadBtn:hover,
#checkA11YBottomLine #checkA11YHeadBtn:focus {
  background-color: revert;
  color: revert;
}

@media print {
  #checkA11YPanel.active,
  #checkA11YBottomLine,
  #checkA11YPanelBtn,
  .checkA11YSpan {
    display:none !important;
  }

  [class*="checkA11YOutline__"]{
    outline:none !important;
  }

  body.check-panel-active{
    margin-left:0 !important;
  }
}body.bg-style-injected,
body.bg-style-injected *,
body.bg-style-injected *::before,
body.bg-style-injected *::after {
  background-image: none !important;
}
body.space-style-injected * {
  line-height: 1.5em !important;
  letter-spacing: 0.12em !important;
  word-spacing: 0.16em !important;
}

body.space-style-injected p {
  margin-bottom: 2em !important;
}
body.tab-style-injected *:focus {
  outline: 5px solid #ffa500 !important;
}
