/*
 * Global
 */
html {
  font-size: 62.5%;
}
@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n4.woff2") format("woff2"), url("//cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n4.woff") format("woff");
}
@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 600;
  src: url("//cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n6.woff2") format("woff2"), url("//cdn.public.lu/fonts/source-sans-pro/source-sans-pro-n6.woff") format("woff");
}
/*
 * Hide
 */
.at {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
:root {
  --Main-Colours-Blue-Clear: #eefaff;
  --Main-Colours-Blue-Lightest: #bfe7f8;
  --Main-Colours-Blue-Lighter: #66bce2;
  --Main-Colours-Blue-Light: #1a91c6;
  --Main-Colours-Blue-Colour-1: #035384;
  --Main-Colours-Blue-Dark: #003556;
  --Main-Colours-Blue-Darker: #052940;
  --Main-Colours-Blue-Darkest: #041926;
  --Greys-Lightest: #fafafa;
  --Greys-Lighter: #ececec;
  --Greys-Light: #c2c2c2;
  --Greys-Neutral: #767676;
  --Greys-Dark: #636161;
  --Greys-Darker: #474747;
  --Greys-White: #ffffff;
  --Greys-Black: #000000;
  --Supplementary-Colours-Red-Crimson: #c33c54;
  --Supplementary-Colours-Orange: #ffc000;
  --Supplementary-Colours-Yellow: #f8f80f;
  --Supplementary-Colours-Green: #4f9e32;
  --Typeface-family-Body: source-sans-pro, calibri, segoe, segoe ui, optima, arial, sans-serif;
  --Typeface-size-Body: 1.6rem;
  --Typeface-line-height-Body: 2.4rem;
  --Typeface-size-H6: 1.9rem;
  --Typeface-family-Code: monaco, menlo, consolas, courier new, monospace;
}
@media print {
  #checkA11YPanel,
  #checkA11YBottomLine,
  #checkA11YPanelBtn,
  .checkA11YSpan {
    display: none !important;
  }
  [class*="checkA11YOutline__"] {
    outline: none !important;
  }
  body.check-panel-active {
    margin-left: 0 !important;
  }
}
/*
 * Side Panel
 */
body {
  transition: margin 1s ease-in-out !important;
  margin-left: 0 !important;
}
body.check-panel-active {
  position: relative;
  margin-left: 360px !important;
}
body.check-panel-active [role="dialog"] {
  margin-left: 360px !important;
}
body.check-panel-active #checkA11YPanelBtn {
  display: none;
}
body.check-panel-hidden #checkA11YPanel {
  display: none;
}
body:not(.check-panel-active) #checkA11YPanelBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70000;
}
#checkA11YPanel {
  letter-spacing: normal !important;
  position: fixed !important;
  top: 0 !important;
  height: 100% !important;
  z-index: 70001 !important;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  direction: ltr !important;
  border-style: none !important;
  margin: 0 !important;
  border-right: 1px solid var(--Main-Colours-Blue-Colour-1) !important;
  width: 360px !important;
  margin-left: -360px !important;
  background-color: var(--Main-Colours-Blue-Lightest) !important;
  color: var(--Greys-Dark) !important;
  font-family: var(--Typeface-family-Body) !important;
  line-height: var(--Typeface-line-height-Body) !important;
  padding: 0 !important;
  max-width: 100% !important;
  font-size: var(--Typeface-size-Body) !important;
  /* Button */
  /* Header */
  /* Body */
}
#checkA11YPanel > div {
  left: 0;
  padding: 0;
  right: auto;
}
#checkA11YPanel > .btn {
  background-color: var(--Greys-White);
  margin: 0;
  color: var(--Main-Colours-Blue-Colour-1);
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  border-radius: 0;
  font-family: var(--Typeface-family-Body);
  text-transform: capitalize;
  cursor: pointer;
  outline: revert;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border: none;
  box-shadow: none;
  padding: 1.5rem 2rem;
}
#checkA11YPanel > .btn > .btn-icon {
  width: 0.9rem;
  height: 1.5rem;
  display: block;
}
#checkA11YPanel > .btn > .btn-icon svg {
  width: 0.9rem;
  height: 1.5rem;
  transform: rotate(0deg);
}
#checkA11YPanel > .btn:focus,
#checkA11YPanel > .btn:hover {
  background-color: var(--Main-Colours-Blue-Colour-1);
  color: var(--Greys-White);
  border: 1px solid var(--Greys-White);
}
#checkA11YPanel > .btn:focus svg,
#checkA11YPanel > .btn:hover svg {
  filter: brightness(0) invert(1);
}
#checkA11YPanel > .btn::before,
#checkA11YPanel > .btn::after {
  content: none;
}
#checkA11YPanel .panel-header {
  text-align: left !important;
  margin: 0 !important;
  padding: 2rem !important;
  background-color: var(--Greys-White) !important;
  position: relative !important;
  display: block !important;
  box-shadow: none !important;
  height: 2.4rem !important;
  border-bottom: 1px solid var(--Main-Colours-Blue-Light) !important;
}
#checkA11YPanel .panel-header h1 {
  height: auto !important;
  line-height: normal !important;
  font-size: unset !important;
  text-align: left !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--Greys-White) !important;
  text-transform: uppercase !important;
  position: relative !important;
  display: block !important;
  color: var(--Greys-Black) !important;
  font-weight: 400 !important;
  font-family: var(--Typeface-family-Body) !important;
  letter-spacing: 0.868px !important;
  box-shadow: none !important;
}
#checkA11YPanel .panel-header h1::before,
#checkA11YPanel .panel-header h1::after {
  content: none !important;
}
#checkA11YPanel .panel-header h1 > svg {
  width: auto !important;
  height: 2.4rem !important;
  vertical-align: text-bottom !important;
  margin-right: 1rem !important;
}
#checkA11YPanel .panel-body {
  overflow-y: auto !important;
  height: calc(100% - 5.6rem) !important;
  color: var(--Greys-Black);
  background-color: var(--Main-Colours-Blue-Lightest) !important;
  width: auto !important;
  display: flex !important;
  padding: 12px !important;
  flex-direction: column !important;
  align-items: stretch !important;
  gap: 12px !important;
  flex: 1 0 0 !important;
  align-self: stretch !important;
}
#checkA11YPanel .panel-body h2 {
  font-size: var(--Typeface-size-Body) !important;
  line-height: var(--Typeface-line-height-Body) !important;
  margin: 0 !important;
  padding: 0 !important;
  text-transform: capitalize !important;
  position: relative !important;
  display: block !important;
  color: var(--Greys-Black) !important;
  font-weight: 600 !important;
  font-family: var(--Typeface-family-Body) !important;
  letter-spacing: 0 !important;
  border: none !important;
  background-color: var(--Greys-White) !important;
}
#checkA11YPanel .panel-body h2::before,
#checkA11YPanel .panel-body h2::after {
  content: none !important;
}
#checkA11YPanel .panel-body .frame {
  border: none !important;
  background-color: var(--Greys-White) !important;
  margin: 0 !important;
  box-shadow: none !important;
  display: flex !important;
  padding: 16px 20px !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 12px !important;
}
#checkA11YPanel .panel-body div.frame ul {
  margin: 0 !important;
  line-height: 1.7 !important;
  list-style-type: none !important;
  padding-left: 0 !important;
  background-color: var(--Greys-White) !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 12px !important;
}
#checkA11YPanel .panel-body div.frame ul > li {
  display: flex !important;
  gap: 10px !important;
  align-self: stretch !important;
  align-items: flex-start !important;
}
#checkA11YPanel .panel-body div.frame ul > li a::before,
#checkA11YPanel .panel-body div.frame ul > li a::after {
  content: none !important;
  display: none !important;
}
#checkA11YPanel .panel-body div.frame ul > li::marker,
#checkA11YPanel .panel-body div.frame ul > li::before,
#checkA11YPanel .panel-body div.frame ul > li::after {
  content: none !important;
  display: none !important;
}
#checkA11YPanel .panel-body div.frame ul > li .result-focus {
  color: var(--Greys-Black) !important;
  background-color: var(--Greys-White) !important;
  box-shadow: none !important;
  font-family: var(--Typeface-family-Body) !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  line-height: normal !important;
  text-decoration: none !important;
  border-radius: 2px !important;
  border: 1px solid transparent !important;
  padding: 0 3px !important;
  min-width: 2.9rem !important;
}
#checkA11YPanel .panel-body div.frame ul > li .result-focus.label-gray {
  color: var(--Greys-Black) !important;
  background-color: var(--Greys-White) !important;
  border-color: 1px solid var(--Main-Colours-Blue-Lighter);
}
#checkA11YPanel .panel-body div.frame ul > li .result-focus.label-yellow {
  color: var(--Greys-Black) !important;
  background-color: var(--Supplementary-Colours-Yellow) !important;
}
#checkA11YPanel .panel-body div.frame ul > li .result-focus.label-orange {
  color: var(--Greys-Black) !important;
  background-color: var(--Supplementary-Colours-Orange) !important;
}
#checkA11YPanel .panel-body div.frame ul > li .result-focus.label-red {
  color: var(--Greys-White) !important;
  background-color: var(--Supplementary-Colours-Red-Crimson) !important;
}
#checkA11YPanel .panel-body div.frame ul > li .result-focusa:hover,
#checkA11YPanel .panel-body div.frame ul > li .result-focusa:focus {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3) !important;
}
#checkA11YPanel .panel-body details.accordion {
  margin-bottom: 5rem !important;
  background-color: var(--Greys-White) !important;
  border-bottom: 1px solid var(--Main-Colours-Blue-Colour-1);
  gap: 0 !important;
  padding: 0 !important;
}
#checkA11YPanel .panel-body details.accordion:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3) !important;
}
#checkA11YPanel .panel-body details.accordion .accordion-summary {
  margin: 0 !important;
  background-color: var(--Greys-White) !important;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
  position: relative !important;
  user-select: none !important;
  padding: 16px 20px !important;
  display: flex !important;
  align-items: center !important;
  gap: 32px !important;
  align-self: stretch !important;
  justify-content: space-between !important;
}
#checkA11YPanel .panel-body details.accordion .accordion-summary svg {
  background-color: var(--Greys-White) !important;
  float: right;
  transform: rotate(-90deg) !important;
  transition: transform 0.5s ease !important;
  animation: none !important;
  width: 2rem;
  height: 2rem;
}
#checkA11YPanel .panel-body details.accordion .accordion-panel {
  background-color: var(--Greys-White) !important;
  padding: 12px 20px !important;
}
#checkA11YPanel .panel-body details.accordion .accordion-panel ul {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 6px !important;
  align-self: stretch !important;
  margin: 0 !important;
}
#checkA11YPanel .panel-body details.accordion .accordion-panel ul > li {
  list-style-type: disc !important;
  display: list-item !important;
  margin-left: 1.7rem !important;
}
#checkA11YPanel .panel-body details.accordion .accordion-panel ul > li::marker {
  color: var(--Main-Colours-Blue-Colour-1);
  font-size: 1.5rem;
  line-height: 1;
}
#checkA11YPanel .panel-body details.accordion .accordion-summary::before,
#checkA11YPanel .panel-body details.accordion .accordion-panel a::before,
#checkA11YPanel .panel-body details.accordion .accordion-panel ul > li::before,
#checkA11YPanel .panel-body details.accordion .accordion-summary::after,
#checkA11YPanel .panel-body details.accordion .accordion-panel a::after,
#checkA11YPanel .panel-body details.accordion .accordion-panel ul > li::after {
  content: none !important;
  display: none !important;
}
#checkA11YPanel .panel-body details.accordion[open] .accordion-summary svg {
  transform: rotate(90deg) !important;
}
#checkA11YPanel .panel-body ul > li,
#checkA11YPanel .panel-body .accordion-panel p {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  line-height: normal !important;
  list-style-type: none !important;
  padding: 0 !important;
  position: relative !important;
  color: var(--Greys-Black) !important;
  margin: 0 !important;
  background-color: var(--Greys-White) !important;
}
#checkA11YPanel .panel-body ul > li a,
#checkA11YPanel .panel-body .accordion-panel p a,
#checkA11YPanel .panel-body ul > li a:active,
#checkA11YPanel .panel-body .accordion-panel p a:active,
#checkA11YPanel .panel-body ul > li a:visited,
#checkA11YPanel .panel-body .accordion-panel p a:visited {
  color: var(--Main-Colours-Blue-Colour-1) !important;
  text-decoration: underline !important;
  background-color: var(--Greys-White) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
#checkA11YPanel .panel-body ul > li a:hover,
#checkA11YPanel .panel-body .accordion-panel p a:hover,
#checkA11YPanel .panel-body ul > li a:focus,
#checkA11YPanel .panel-body .accordion-panel p a:focus {
  color: var(--Main-Colours-Blue-Dark) !important;
  text-decoration: none !important;
}
#checkA11YPanelBtn {
  display: flex;
  width: 49px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0 4px 4px 0;
  border-top: 1px solid var(--Main-Colours-Blue-Light);
  border-right: 1px solid var(--Main-Colours-Blue-Light);
  border-bottom: 1px solid var(--Main-Colours-Blue-Light);
  background: var(--Greys-White);
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: revert;
}
#checkA11YPanelBtn .btn-icon {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}
#checkA11YPanelBtn .btn-icon svg {
  width: 2.4rem;
  height: 2.4rem;
}
#checkA11YPanelBtn:focus,
#checkA11YPanelBtn:hover {
  background-color: var(--Main-Colours-Blue-Colour-1);
  color: var(--Greys-White);
  border: 1px solid var(--Greys-White);
}
#checkA11YPanelBtn:focus svg,
#checkA11YPanelBtn:hover svg {
  filter: brightness(0) invert(1);
}
#checkA11YPanelBtn::before,
#checkA11YPanelBtn::after {
  content: none;
}
/*
 * Bottom line
 */
#checkA11YBottomLine {
  width: calc(100% - 20px);
  display: block;
  position: fixed;
  bottom: 0;
  background-color: var(--Greys-White);
  padding: 5px 10px;
  margin: 0 !important;
  color: var(--Main-Colours-Blue-Colour-1);
  font-size: 1.6rem;
  font-weight: 400;
  border-top: 3px solid var(--Main-Colours-Blue-Colour-1);
  z-index: 70000;
  line-height: normal;
  max-height: 400px;
  overflow-y: auto;
  right: 0;
  left: 0;
}
#checkA11YBottomLine ul li {
  margin: 0 !important;
  color: var(--Main-Colours-Blue-Colour-1);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
}
#checkA11YBottomLine ul li::before,
#checkA11YBottomLine ul li::after {
  content: none;
}
#checkA11YBottomLine #checkA11YHeadBtn {
  background-color: revert;
  border: revert;
  border-radius: revert;
  box-sizing: border-box;
  color: revert;
  cursor: pointer;
  display: revert;
  font-size: unset;
  font-weight: unset;
  hyphens: none;
  line-height: normal;
  padding: revert;
  text-align: unset;
  text-decoration: none;
  width: auto;
  position: absolute;
  right: 10px;
  top: 2px;
  text-transform: none;
}
#checkA11YBottomLine #checkA11YHeadBtn:hover,
#checkA11YBottomLine #checkA11YHeadBtn:focus {
  background-color: revert;
  color: revert;
}
/*
 * In-page span and outline
 */
.checkA11YSpan {
  display: inline-block !important;
  font-family: var(--Typeface-family-Body) !important;
  font-size: 1.4rem !important;
  box-shadow: none !important;
  margin: 1px !important;
  margin-right: 7px !important;
  border: none !important;
  clear: none !important;
  float: none !important;
  opacity: 1 !important;
  z-index: 70000 !important;
  position: static !important;
  text-align: left !important;
  text-indent: initial !important;
  text-decoration: none !important;
  text-shadow: none !important;
  text-transform: none !important;
  min-height: 1.7rem !important;
  clip: auto !important;
  font-style: normal !important;
  padding: 0 3px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  min-width: 2.9rem !important;
  border-radius: 2px !important;
}
.checkA11YSpan__gray {
  background-color: var(--Greys-White) !important;
  color: var(--Greys-Black) !important;
}
.checkA11YSpan__green {
  background-color: var(--Supplementary-Colours-Green) !important;
  color: var(--Greys-White) !important;
}
.checkA11YSpan__blue {
  background-color: var(--Main-Colours-Blue-Colour-1) !important;
  color: var(--Greys-White) !important;
}
.checkA11YSpan__yellow {
  background-color: var(--Supplementary-Colours-Yellow) !important;
  color: var(--Greys-Black) !important;
}
.checkA11YSpan__orange {
  background-color: var(--Supplementary-Colours-Orange) !important;
  color: var(--Greys-Black) !important;
}
.checkA11YSpan__red {
  background-color: var(--Supplementary-Colours-Red-Crimson) !important;
  color: var(--Greys-White) !important;
}
.checkA11YOutline__green {
  outline: var(--Supplementary-Colours-Green) solid 3px !important;
  outline-offset: 1px;
}
.checkA11YOutline__blue {
  outline: var(--Main-Colours-Blue-Colour-1) solid 3px !important;
  outline-offset: 1px;
}
.checkA11YOutline__yellow {
  outline: var(--Supplementary-Colours-Yellow) solid 3px !important;
  outline-offset: 1px;
}
.checkA11YOutline__orange {
  outline: var(--Supplementary-Colours-Orange) solid 3px !important;
  outline-offset: 1px;
}
.checkA11YOutline__red {
  outline: var(--Supplementary-Colours-Red-Crimson) solid 3px !important;
  outline-offset: 1px;
}
.checkA11YOutline__orange_parent {
  outline: var(--Supplementary-Colours-Orange) dotted 3px !important;
  outline-offset: -2px;
}
.checkA11YOutline__red_parent {
  outline: var(--Supplementary-Colours-Red-Crimson) dotted 3px !important;
  outline-offset: -2px;
}
.checkA11YSpan-desc {
  background-color: var(--Greys-White) !important;
  color: var(--Greys-Black) !important;
  display: block !important;
  padding: 2px 5px !important;
  margin: 2px !important;
  font-style: normal !important;
}
/*
 * Tools
 */
body.bg-style-injected::before,
body.bg-style-injected *::before,
body.bg-style-injected::after,
body.bg-style-injected *::after {
  background-image: none !important;
}
body.space-style-injected * {
  line-height: 1.5em !important;
  letter-spacing: 0.12em !important;
  word-spacing: 0.16em !important;
}
body.space-style-injected p {
  margin-bottom: 2em !important;
}
body.tab-style-injected *:focus {
  outline: 5px solid var(--Supplementary-Colours-Orange) !important;
}
