html {
  counter-reset: autocompleteError autocompleteElement;
}

/* Display count in sidebar */
html::after {
  content: "Autocomplete:\A - " counter(autocompleteElement) " element(s)\A\A\A >> " counter(autocompleteError) " error(s)\A";
  position: fixed !important;
  top: 400px !important;
  right: 0 !important;
  z-index: 123456 !important;
  width: 12em !important;
  border: 5px solid #fff;
  border-right: 0;
  padding: 15px !important;
  white-space: pre !important;
  font-family: sans-serif !important;
  font-size: 18px !important;
  font-weight: bold;
  color: #fff !important;
  background: #005166 !important;
}


:where(input,select,textarea)[autocomplete]{
  outline: solid 2px green!important;
  outline-offset: 2px;
  counter-increment: autocompleteElement;
}


div.form-group:has(:where(input,select,textarea)[autocomplete])::before {
  content: 'Has autocomplete' !important;
  color: green;
}

input[name="name"]:not([autocomplete="family-name"]),
input[name="firstname"]:not([autocomplete="given-name"]),
input[type="email"]:not([autocomplete="email"]),
input[name="email"]:not([autocomplete="email"]),
input[type="tel"]:not([autocomplete="tel"]),
input[name="phone"]:not([autocomplete="tel"]),
input[name="country"]:not([autocomplete="country-name"]),
select[name="country"]:not([autocomplete="country"]){
  outline: solid 2px red!important;
  outline-offset: 2px;
  counter-increment: autocompleteError;
}

div.form-group:has(input[name="name"]:not([autocomplete="family-name"]))::before,
div.form-group:has(input[name="firstname"]:not([autocomplete="given-name"]))::before,
div.form-group:has(input[type="email"]:not([autocomplete="email"]))::before,
div.form-group:has(input[name="email"]:not([autocomplete="email"]))::before,
div.form-group:has(input[type="tel"]:not([autocomplete="tel"]))::before,
div.form-group:has(input[name="phone"]:not([autocomplete="tel"]))::before,
div.form-group:has(input[name="country"]:not([autocomplete="country-name"]))::before,
div.form-group:has(select[name="country"]:not([autocomplete="country"]))::before{
  content: 'Error Autocomplete'!important;
  color: red;
}