html {
  counter-reset: tabindexNb tabindexError;
}

/* Display count in sidebar */
html::after {
  content: "#09 Tabindex :\A - " counter(tableNb) " element(s)\A\A\A - " counter(tableError) " error(s)\A" ;
  position: fixed !important;
  top: 300px !important;
  right: 0 !important;
  z-index: 123456 !important;
  width: 12em !important;
  border: 5px solid #fff;
  border-right: 0;
  padding: 15px !important;
  white-space: pre !important;
  font-family: sans-serif !important;
  font-size: 20px !important;
  font-weight: bold;
  color: #fff !important;
  background: #10415E !important;
}


* {
    box-sizing: border-box;
}

[tabindex]{
    outline: solid 2px green;
    counter-increment: tabindexNb;
}

[tabindex]:not([tabindex="0"]):not([tabindex="-1"]){
    outline: solid 2px red!important;
}

[tabindex]:not([tabindex="0"]):not([tabindex="-1"])::after{
    content: 'Positive tabindex'!important;
	counter-increment: tabindexError;
    color: red;
}

[tabindex="0"]::after{
	content: 'tabindex=0'!important;
	counter-increment: tableWarning;
    color: green;
}

[tabindex="-1"]::after{
	content: 'tabindex=-1'!important;
	counter-increment: tableWarning;
    color: green;
}
