[role="img"],
img,
svg,
area,
object[type="image"],
canvas,
embed[type="image"] {
	max-width:150px;
	max-height:150px;
}

img { counter-increment: thematique1-img; }
canvas,embed,object,map,area { counter-increment: thematique1-other; }
svg { counter-increment: thematique1-svg; }
[role="img"] { counter-increment: thematique1-img; }
[longdesc] { counter-increment: thematique1-longdesc; }
figure { counter-increment: thematique1-figure; }


iframe { counter-increment: thematique2; }

audio,video { counter-increment: thematique4; }

table,
[role="table"] { counter-increment: thematique5; }

[lang]:not(html){ counter-increment: lang; }

dir:not(html){ counter-increment: dir; }

input,
select,
textarea,
datalist,
optgroup,
option,
keygen,
output,
progress,
meter {	 counter-increment: thematique11-form; }

fieldset { counter-increment: thematique11-regroupement; }

hidden,[aria-hidden] { counter-increment: caches; }

ul, ol, dl {counter-increment: list;}

html {
	padding-left:200px;
	counter-reset:		
					thematique1-img
					thematique1-svg
					thematique1-longdesc
					thematique1-figure
					thematique1-other
					thematique2
					thematique4
					thematique5
					lang
					dir
					thematique11-form
					thematique11-regroupement
					caches
                    list
}

body{padding-left:15px}

html:after {
	font-family:sans-serif!important;
	font-size:1.5rem!important;
	color:#000!important;
	position:fixed!important;
	top:0!important;
	bottom:0!important;
	left:0!important;
	white-space:pre!important;
	width:250px!important;
	padding:15px!important;
	padding-top:100px!important;
	background:#feecca!important;
	z-index:100000!important;
  	content: 
            "Thématique 1 \A"
			"- " counter(thematique1-img) " img ou role,\A"
			"- " counter(thematique1-longdesc) " attribut longdesc,\A"
			"- " counter(thematique1-svg) " svg,\A"
			"- " counter(thematique1-figure) " figure,\A"
			"- " counter(thematique1-other) " embed,object,canvas,map,area\A"	
            "Thématique 2 \A"
			"- " counter(thematique2) " cadres\A"
            "Thématique 4 \A"
			"- " counter(thematique4) " balises video/audio\A"
            "Thématique 5 \A"
			"- " counter(thematique5) " tableau\A "
            "Thématique 8 \A"
            "- " counter(lang) " indication de langue\A "
			"- " counter(dir) " indication de direction\A "
            "Thématique 9 \A"
            "- " counter(list) " listes\A"
            "Thématique 10 \A"
            "- " counter(caches) " hidden ou aria-hidden\A "
            "Thématique 11 \A"
			"- " counter(thematique11-form) " champs de formulaires\A "
			"- " counter(thematique11-regroupement) " fieldset\A " !important
}
