html {
  font-size: 62.5%;
}

@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/source-sans-pro-n4.woff2') format('woff2'),
    url('../fonts/source-sans-pro-n4.woff') format('woff');
}

@font-face {
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/source-sans-pro-n6.woff2') format('woff2'),
    url('../fonts/source-sans-pro-n6.woff') format('woff');
}

:root {
  --Main-Colours-Blue-Clear: #eefaff;
  --Main-Colours-Blue-Lightest: #bfe7f8;
  --Main-Colours-Blue-Lighter: #66bce2;
  --Main-Colours-Blue-Light: #1a91c6;
  --Main-Colours-Blue-Colour-1: #035384;
  --Main-Colours-Blue-Dark: #003556;
  --Main-Colours-Blue-Darker: #052940;
  --Main-Colours-Blue-Darkest: #041926;
  --Greys-Lightest: #fafafa;
  --Greys-Lighter: #ececec;
  --Greys-Light: #c2c2c2;
  --Greys-Neutral: #767676;
  --Greys-Dark: #636161;
  --Greys-Darker: #474747;
  --Greys-White: #ffffff;
  --Greys-Black: #000000;
  --Typeface-family-Body:
    source-sans-pro, calibri, segoe, segoe ui, optima, arial, sans-serif;
  --Typeface-size-Body: 1.6rem;
  --Typeface-line-height-Body: 2.4rem;
  --Typeface-size-H6: 1.9rem;
}

body {
  background-color: var(--Main-Colours-Blue-Lightest);
  color: var(--Greys-Dark);
  font-family: var(--Typeface-family-Body);
  line-height: var(--Typeface-line-height-Body);
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: var(--Typeface-size-Body);
  min-width: 36rem;
}

header {
  background-color: var(--Greys-White);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  height: 3.2rem;
  align-self: stretch;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--Greys-Black);
  font-weight: 400;
  letter-spacing: 0.868px;
}

h1 > svg {
  height: 32px;
  vertical-align: text-bottom;
  margin-right: 1rem;
}

h2 {
  font-size: var(--Typeface-size-H6);
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: var(--Greys-Black);
  font-weight: 700;
  font-style: normal;
  line-height: 2.4rem;
}

main {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: stretch;
  align-items: stretch;
}

.frame {
  background-color: var(--Greys-White);
  padding: 1.8rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  align-self: stretch;
}

.form-options-content {
  padding-left: 0 !important;
}

/* Radio Button */
label {
  display: inline-block;
  max-width: 600px;
  cursor: pointer;
  margin: 0;
  color: var(--Greys-Dark);
}

input[type='radio'] {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--Main-Colours-Blue-Light);
  border-radius: 2rem;
  line-height: normal;
  padding: 0;
  cursor: pointer;
  min-width: auto;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  margin: 0;
}

input[type='radio']:hover,
input[type='radio']:focus-visible {
  box-shadow: rgb(0, 0, 0, 0.16) 0 3px 6px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='4' viewBox='0 0 5 4' fill='none'><path d='M4.5 2C4.5 3.10457 3.60457 4 2.5 4C1.39543 4 0.5 3.10457 0.5 2C0.5 0.89543 1.39543 0 2.5 0C3.60457 0 4.5 0.89543 4.5 2Z' fill='%23035384'/></svg>")
    center center no-repeat var(--Greys-White);
}

input[type='radio']:checked {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'><circle cx='6' cy='6' r='6' fill='%23035384'/></svg>")
    no-repeat center center var(--Greys-White);
  border-color: var(--Main-Colours-Blue-Colour-1);
}

.form-group {
  max-width: 600px;
}

.form-group-field {
  position: relative;
}

.form-options {
  margin: 0;
  border: 0;
  padding: 0;
}

.form-options .form-options-legend {
  color: var(--Greys-Dark);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  right: 2rem;
  top: 2.7rem;
}

.form-options .form-options-wrapper {
  clear: left;
}

.form-options .form-options-content {
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: column;
}

.form-options .form-options-content .form-options-group {
  display: block;
  height: 2rem;
}

.form-options .form-options-content .form-options-group.dev-only {
  display: none;
}

.form-options .form-options-label strong {
  text-decoration: underline;
}

.form-options .form-options-label .form-options-description {
  margin-left: 0.8rem;
  vertical-align: middle;
}

/* Hide */
.at {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/* Button */
.btn {
  background: var(--Main-Colours-Blue-Colour-1);
  box-sizing: border-box;
  border: 1px solid var(--Main-Colours-Blue-Colour-1);
  color: var(--Greys-White);
  cursor: pointer;
  display: inline-block;
  line-height: 2.4rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.btn.btn-borderless {
  background: transparent;
  border-color: transparent;
  color: var(--Main-Colours-Blue-Colour-1);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.btn.btn-borderless:hover {
  color: var(--Main-Colours-Blue-Dark);
}
